# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [9]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
print(list(drinks.columns))
drinks.head(2)

['country', 'beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol', 'continent']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU

### Step 4. Which continent drinks more beer on average?

In [30]:
print(drinks.groupby(["continent"]).mean().loc[:,"beer_servings"])
print("The continent that drinks the most beer is: ",drinks.groupby(["continent"]).mean().iloc[:,0].idxmax())

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
The continent that drinks the most beer is:  EU

### Step 5. For each continent print the statistics for wine consumption.

In [41]:
print("Total wine servings:")
print(drinks.groupby(["continent"]).sum().loc[:,"wine_servings"])

Total wine servings:
continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [56]:
print("Mean per continent:")
print(drinks.groupby(["continent"]).mean().mean(0))

Mean per continent:
beer_servings                   111.413153
spirit_servings                  76.584717
wine_servings                    53.119244
total_litres_of_pure_alcohol      4.697073
dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [72]:
print("Median per continent:")
print(drinks.groupby(["continent"]).mean().median(0))

Median per continent:
beer_servings                   89.687500
spirit_servings                 60.840909
wine_servings                   35.625000
total_litres_of_pure_alcohol     3.381250
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [118]:
maxcons = list(drinks.groupby(["continent"]).max().loc[:,"spirit_servings"])
#maxcons = pd.Series.to_frame((drinks.groupby(["continent"]).max().loc[:,"spirit_servings"])).rename(columns={"spirit_servings":"max_spirit_servings"})

mincons = list(drinks.groupby(["continent"]).min().loc[:,"spirit_servings"])
#mincons = pd.Series.to_frame(drinks.groupby(["continent"]).min().loc[:,"spirit_servings"]).rename(columns={"spirit_servings":"min_spirit_servings"})

meancons = list(drinks.groupby(["continent"]).mean().loc[:,"spirit_servings"])
#meancons = pd.Series.to_frame(drinks.groupby(["continent"]).mean().loc[:,"spirit_servings"]).rename(columns={"spirit_servings":"mean_spirit_servings"})

continents = list(drinks.groupby(["continent"]).mean().index)

newDF = pd.DataFrame({'max_spirit_servings': maxcons,
                     'min_spirit_servings': mincons,
                     'mean_spirit_servings': meancons},
                    index=continents)

print(newDF)

    max_spirit_servings  min_spirit_servings  mean_spirit_servings
AF                  152                    0             16.339623
AS                  326                    0             60.840909
EU                  373                    0            132.555556
OC                  254                    0             58.437500
SA                  302                   25            114.750000